.profile {
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
  width: 350px;
  border: 2px solid #696969;
  background-color: #fff2cc;
}

.description {
  text-align: center;
  border-bottom: 1px solid #ead1dc;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.item {
  display: grid;
  margin-top: 3px;
}

.label {
  margin-bottom: 10px;
}
