.list {
  padding: 20px;
  margin-left: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid #696969;
  background-color: #fff2cc;
}

.item {
  display: flex;
  border: 1px solid #999999;
  justify-content: space-around;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 30px;
}
